		#middguard-movement-trace{
			margin: 15px 35px;
      height: 1175px;
		}

    #middguard-movement-trace h1{
      font-size: 14pt;
    }

    #movement-trace-svg {
      width:800px;
      height: 800px;
      
    }


    #movement-trace-map {
      width:800px;
      height:800px;
      
    }
    
    
    #middguard-movement-trace .point{
      fill:#ff0000;
      
      
      } 