.SQLInteractDiv{
  width: 500px;
}
.SQL-table .SQLRowHeader{
  background-color: white;
  border: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 0px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
}

.SQL-table .SQLRow td{
  background-color: white;
  border: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 2px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
}

.SQL-table {
  background-color: #848484;
  border: 3px solid;
  border-color: #848484;
  border-radius: 0px 3px 3px 3px;
}
.table-changes{
  height: 20px;
  width: 300px;
  display: inline-block;
}
.model-name-text{
  display: inline-block;
  height: 100%;
  margin: 0px;
  font-size: 12px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-color: white;
  border-radius: 2px 2px 0px 0px;
  position: relative;
  top: -2px;
}

.enter-changes{
  background-color: #CCCCCC;
  outline: none;
  border: 1px solid;
  border-color: #CCCCCC;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  display: inline-block;
  position: relative;
  top: 0px;
}
.enter-changes:hover{
  background-color: #A0A0A0;
  border-color: #A0A0A0;
}
.enter-changes:active{
  background-color: #707070;
  border-color: #707070;
}
.query-beginning{
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  text-align: left;
}
.query-view{
  margin: 5px;
  width: 600px;
}
.query-entry-div{
  margin-left: 5px;
}
.query-text{
  width: 35%;
}
.query-submit{
  width: 15%;
}
.table-view{
  margin-left: 5px;
  width: 500px;
}