		#middguard-relation-grid{
			margin: 15px 35px;
      height:1175px;
		}

    #relation-grid-svg {
      width:1000px;
      height: 1200px;
      
    }


    #middguard-relation-grid h1{
      font-size: 14pt;
    
    }
    
    #relation-grid-container{
      height:1075px;
      overflow-y:scroll;
      
    }