html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Tahoma;
  height:100%;
  display: inline-block;
  overflow-x: scroll;
}
#view-options{
  width: 300px;
  margin: auto;
}

#view-options .viewOption{
  outline: 0;
  width: 150px;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 5px 5px 0px 0px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

#view-options .viewOption:hover{
  outline: 0;
  width: 150px;
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  
}

#middguard-chat {
  display: none;
  position: absolute;
  left: 0;
  width: 300px;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

#middguard-chat-header {
  padding: 7px 5px;
  color: #fff;
  background-color: #333;
}

#middguard-chat-log {
  height: 460px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #e9eaed;
}

#middguard-chat-input {
  width: 100%;
  height: 28px;
  outline: none;
  border: none;
  border-top: 1px solid #999;
  padding: 7px 5px;
  resize: none;
  overflow: hidden;
  box-shadow: 0 1px #e6e6e6 inset;
  font-size: 13px;
}

.middguard-chat-message {
  width: calc(100% - 6px);
  background-color: #fff;
  padding: 3px 5px;
  margin: 3px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  font-size: 13px;
}

.middguard-chat-message.sent-by-self {
  background-color: #dbedfe;
  border-color: #acd6fd;
}

.middguard-chat-message-meta {
  padding: 3px 0;
  border-bottom: 1px solid #e6e6e6;
}

.middguard-chat-message.sent-by-self .middguard-chat-message-meta {
  border-bottom-color: #acd6fd;
}

.middguard-chat-message-meta span {
  float: right;
  cursor: pointer;
}

.middguard-chat-message-content {
  padding: 3px 0;
}

#middguard-header {
  float: left;
  width: 300px;
  height: 100%;
  border-right: 1px solid #999;
  background-color: #e9eaed;
  overflow: scroll;
}
#middguard-header h1,
#middguard-header h2,
#middguard-header h3,
#middguard-header #middguard-user {
  padding: 0 20px;
}

#middguard-packages {
  float: left;
  width: 300px;
  height: 100%;
  border-right: 1px solid #999;
  background-color: #e9eaed;
  overflow: scroll;
}

.logout {
  display: inline-block;
  margin-left: 20px;
}

.logout input {
  font-size: inherit;
  outline: none;
  border: none;
  text-decoration: underline;
  background-color: #e9eaed;
  cursor: pointer;
}

#middguard-packages h1,
#middguard-packages h2,
#middguard-packages h3,
#middguard-packages #middguard-user {
  padding: 0 20px;
}

#middguard-packages .middguard-package {
  padding: 10px 20px;
}

#middguard-packages .middguard-package.module {
  cursor: pointer;
}

#middguard-packages .middguard-package.active {
  background-color: lightgreen;
}

.middguard-module {
  float: left;
  height: inherit;
  overflow-y: auto;
  overflow-x: auto;
}