html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Tahoma;
  height:100%;
}

.hidden {
  display: none;
}

.middguard-views {
  height: 100%;
  margin: 0 0 0 300px;
  white-space: nowrap;
  z-index: 1;
}

#view-options{
  width: 300px;
  margin: auto;
}

#view-options .viewOption{
  outline: 0;
  width: 150px;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 5px 5px 0px 0px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

#view-options .viewOption:hover{
  outline: 0;
  width: 150px;
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  border-width: 5px;
  border-style: solid;
  border-color: white;

}
#obs-control-div{
  height: calc(100% - 133px);
}
#middguard-obs {
  width: 300px;
}

#middguard-obs-header {
  padding: 7px 5px;
  color: #fff;
  background-color: #333;
}

#middguard-packages {
  float: left;
  width: 300px;
  height: 100%;
  border-right: 1px solid #999;
  background-color: #e9eaed;
  overflow: scroll;
  z-index: 1;
}

#middguard-packages h1,
#middguard-packages h2,
#middguard-packages h3,
#middguard-packages #middguard-user {
  padding: 0 20px;
}

#middguard-packages .middguard-package {
  padding: 10px 20px;
}

#middguard-packages .middguard-package.module, .middguard-package.model {
  cursor: pointer;
}

#middguard-packages .middguard-package.active {
  background-color: lightgreen;
}

.middguard-module {
  display: inline-block;
  height: 100%;
  overflow-y: scroll;
  overflow-x: auto;
}
