.middguard-graph-editor {
  height: 100%;
  width: 650px;
  border-right: 2px solid #e5e5e5;
}

.middguard-graph-editor .header {
  border-bottom: 2px solid #e5e5e5;
  padding: 0 10px;
  height: 50px;
}

.middguard-graph-editor .sidebar {
  height: calc(100% - 50px);
  width: 150px;
  float: left;
  border-right: 2px solid #e5e5e5;
}

.middguard-graph-editor .modules-list {
  list-style: none;
  padding: 0;
}

.middguard-graph-editor .modules-list li {
  margin: 10px;
  float: left;
}

.middguard-graph-editor .graph {
  overflow: hidden;
}

.middguard-graph-editor .node .outline {
  stroke: steelblue;
  stroke-width: 2px;
  fill: #fff;
}

.middguard-graph-editor .node circle.drag-handle {
  fill: transparent;
}

.middguard-graph-editor .node .drag-handle {
  fill: none;
}

.middguard-graph-editor .node:hover path.drag-handle {
  fill: transparent;
  stroke: rgb(194, 194, 194);
  stroke-width: 2px;
  cursor: pointer;
}

.connector.input {
  fill: rgb(35, 171, 36);
}

.connector.output {
  fill: rgb(195, 63, 63);
}

.connector.selected {
  stroke: #000;
  stroke-width: 2px;
}

.middguard-graph-editor .connecting-line {
  stroke: #000;
  stroke-width: 2px;
  fill: none;
  pointer-events: none;
}

.middguard-graph-editor .status {
  font-size: 12px;
}

.middguard-graph-editor .status.status-0 {
  fill: rgb(226, 104, 87);
}

.middguard-graph-editor .status.status-1 {
  fill: rgb(230, 222, 13);
}

.middguard-graph-editor .status.status-2 {
  fill: rgb(81, 210, 141);
}

.input-tooltip {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 1;
}

.input-tooltip:after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.7);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
}
