		#middguard-timeline{
			margin: 0 60px 0 15px;
			height: 125px;
      float: right;
      margin: 5px;
		}
    
    #rightButton{
      float: right;
      padding: 0px;
      border: 0px;
      background-color: #FFFFFF;
    }
    #leftButton{
      padding: 0px;
      border: 0px;
      background-color: #FFFFFF;
    }
		.slider axis{
			stroke: black;
		}
		.tick line{
			stroke: black;
			fill: black;
			
		}
		#middguard-timeline .axis text{
			font-family: sans-serif;
			font-size: 11px;
		}
		
		#middguard-timeline svg {
		  font: 10px sans-serif;
		}
		#timeTriangle {
			fill: red;
			stroke:none;
			}
		#timeMarker{
			fill: red;
			stroke: red;
			z-index: 5;
		}
		.axis path{
		  
		  stroke: #000;
		  shape-rendering: crispEdges;
		}