script(type="text/template", id="graph-editor-template").
  <div class="header">
    <h4><%= name %></h4>
    <ul class="modules-list"></ul>
  </div>
  
script(type="text/template", id="graph-node-template").
  <circle r="50" cx="50" cy="50">
  
