script(type='text/template', id='graphs-panel-template').
  <form class="new-graph">
    <div class="input-group">
      <input type="text" id="new-graph-name" class="form-control" placeholder="Graph name">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="create-new-graph">Create</button>
      </span>
    </div>
  </form>
  <h4>Graphs</h4>
  <div class="list-group graphs-list"></div>
