doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    title MiddGuard
    link(rel='stylesheet', href='static/css/base.css')
    each link in css
      link(rel='stylesheet', href=link)
  body
    each script in clientLibs.js
      script(src=clientLibs.prefix + '/' + script)
    each script in js
      script(src=script)