#bar-chart-messages svg {
  font: 10px sans-serif;
}

#bar-chart-messages .axis path,
#bar-chart-messages .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#bar-chart-messages .bar {
  fill: steelblue;
}

#bar-chart-messages .x.axis path {
  display: none;
}