

#group-view-rect{
  width:1100px;
  margin:15px 35px;
  
}

#group-view-rect h1{
  font-size: 14pt;
}


#all-groups-container, #group-details{
  float:left;
  margin: 10px;
}

#all-groups-container{
  width: 50%;
}

 #group-details{
  width: 45%;
  float:left;
  margin: 10px;
}


.group-set-view{
  margin: 10px 25px;
  
}

#group-view-rect h2{
  font-size: 12pt;
  
}

.ui-dialog{
 font-size: 12pt; 
  
}

#tag-list{
  overflow-y: scroll;
  overflow-x: hidden;
  
  height: 200px;
  
}