.path{
  stroke: black;
}
.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  
}
.axis text{
  font-size: 8px;
}
.textHeader{
  font-size: 15px;
  font-family:"Times New Roman",Times,serif;
  position: relative;
  left: 15px;
}

.trendGraphParent{
  margin: 1px;
  border-style: solid;
  border-width: 3px;
  border-color: #ABABAB;
}

.textHeaderBold {
  font-weight: bold;
  position: relative;
  left: 15px;
}

#loc-spark h1{
  font-size: 14pt;
}

#loc-spark{
  width:1050px;
  margin:15px;
}