
    #individual-timeline-rect {
      width:800px;
      height: 100%;
      overflow-y: visible;
      overflow-x:auto;
      
    }
    
    #individual-timeline-rect h1{
      font-family:"Helvetica Neue", Helvetica, Tahoma;
      font-size: 14pt;
      margin: 5px;

    }

    #individual-timeline-rect .middguard-module{
      height:90%;
      float:none;
      display:inline-block;
      white-space:nowrap;
    }

    .individual-timeline {
       overflow-y: visible;
      /*border:1px solid black;*/
    }
    
		.individual-timeline .axis path,
		.individual-timeline .axis line{
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
    
    
    .individual-timeline .tick text{
      font-size: 7pt;
    }
    
    
    .individual-timeline .individual-check-ins rect{
      fill: #BBBBBB;
      stroke:black;
    }
    
    .individual-timeline .individual-check-in-labels text{
      font-size: 7pt;
    }