.path{
  stroke: black;
}
.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  
}
.axis text{
  font-size: 8px;
}
.textHeader{
  font-size: 15px;
  font-family:"Times New Roman",Times,serif;
  position: relative;
  left: 15px;
}

.trendGraphParent{
  border-width: 1px;
  border-color: #ABABAB;
}