		#middguard-query{
			margin: 15px 35px;
      height:1175px;
		}

    #middguard-query h1{
      font-size: 14pt;

    }
    
    #middguard-query h2{
      font-size: 12pt;

    }
    
    #query-options{
      float:left;
      margin: 25px;
    }
    
    
    #query-location-options{
      width:600px;
      height:700px;
      margin: 15px;
    }
    
    .query-location-rect{
      stroke: #CCCCCC;
    }
    
    
    #query-time-div{
      float:left;
      width:325px;
      margin: 15px;
    }
    
    #query-time-options{
      height:150px;
      width:325px;
    }
    
    #query-tags-div{
      float:left;
      height:200px;
      width:250px;
      margin:15px;
    }
    
    #query-tag-options{
      width: 200px;
    }
    
    #query-results{
      float:left;
      margin: 25px;
    }
    
    #query-results-list{
      width:300px;
    }
    
    #query-range-slider{
      width:325px;
    }